*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: rgb(9, 14, 27);
  place-items: center;
}

.game-area {
  border: 5px solid rgb(0, 255, 229);
}
